<div class="back">
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
    <h2>Sign up</h2>
    <label for="email">Username</label>
    <input type="text" name="username" #name="ngModel" [(ngModel)]="userService.selectedUser.username" required>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password"  #name="ngModel" [(ngModel)]="userService.selectedUser.password" required>
    <div class="password error"></div>
    <button type="submit">Sign up</button>
</form></div> 