<button mat-raised-button color="primary" routerLink="/home">HOME</button>
<form #roomForm="ngForm" (ngSubmit)="onSubmit(roomForm)">
    <div class="search">  
    <h3>Search Room</h3>
      <mat-form-field appearance="fill">
        <mat-label>Room Type</mat-label>
        <mat-select [(ngModel)]="roomType" name="room">
          <mat-option *ngFor="let room of rooms" [value]="room.value">
            {{room.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <button mat-raised-button color="primary" (click)='refershRoomList()'>Search</button>
  
      <table class="responsive-table highlight" >
        <thead>
          <tr>
            <th>Room No</th>
            <th>Room Type</th>
            <th>Occupancy</th>
            <th>Price</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </thead>
  
        <tr *ngFor="let rom of roomService.rooms">
         <td>{{rom.roomNo}}</td>
         <td>{{rom.roomType}}</td>
         <td>{{rom.occupancy}}</td>
         <td>{{rom.price}}</td>
         <td>{{rom.description}}</td>
         <td>{{rom.status}}</td>
        </tr>
      </table>
    </div>
    </form>