<div class="back">
<button mat-raised-button color="accent" style="float:right" routerLink="/search" >Back</button>
<button mat-raised-button color="primary" routerLink="/home">Home</button> 
<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="bookingService.selectedBooking._id">
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="roomNo" #name="ngModel" [(ngModel)]=rno disabled>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="bookingService.selectedBooking.name" required>
                    <label>Name :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="children" #name="ngModel" [(ngModel)]="bookingService.selectedBooking.children" >
                    <label>Children :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="adult" #name="ngModel" [(ngModel)]="bookingService.selectedBooking.adult" >
                    <label>Adult :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="Date" name="checkin" #name="ngModel" [(ngModel)]="bookingService.selectedBooking.checkin" placeholder="Checkin Date">
                    <label>Checkin :</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="Date" name="checkout" #name="ngModel" [(ngModel)]="bookingService.selectedBooking.checkout" placeholder="Checkout Date">
                      <label>Checkout :</label>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(bookingForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!bookingForm.valid">Submit</button>
                    <a href="https://checkout.stripe.com/pay/cs_test_a1M0YTChUDPYre7GTwYd1unzFCoxNjCYqzVWPDx7ssYj2FHpaM0p3JYZFr#fidkdWxOYHwnPyd1blpxYHZxWjA0T2dVVXRWT39WPG9nMmxTR2dDXDNdc01NdDxNNV92U2t%2FfX9La2pfb2tvPXJcZHw2RDNDfEA3UnFta1JSdk51XGhhQUptS01GNkR9Z05hMzVQQHZTNzNENTVobkJidXRpbCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgll">
                      <button type="button" id="proceed" class="btn btn-primary" >Pay <i class="material-icons" style="font-size: 1.2rem; line-height: 1em">keyboard_arrow_right</i></button>
                  </a>
                  </div>

                </div>
              </form>
            </div>
            <div class="col s7">
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>